[submodule "src/dev_env/vim/.vim/bundle/fzf.vim"]
	path = src/dev_env/vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "src/dev_env/vim/.vim/bundle/nerdtree"]
	path = src/dev_env/vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "src/dev_env/vim/.vim/bundle/vim-multiple-cursors"]
	path = src/dev_env/vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "src/dev_env/vim/.vim/bundle/vim-fugitive"]
	path = src/dev_env/vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "src/dev_env/vim/.vim/bundle/vim-airline"]
	path = src/dev_env/vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "src/dev_env/vim/.vim/bundle/vim-airline-themes"]
	path = src/dev_env/vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "src/dev_env/vim/.vim/bundle/dart-vim-plugin"]
	path = src/dev_env/vim/.vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "src/dev_env/vim/.vim/bundle/kotlin-vim"]
	path = src/dev_env/vim/.vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "src/dev_env/vim/.vim/bundle/vimwiki"]
	path = src/dev_env/vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "src/dev_env/vim/.vim/bundle/coc.nvim"]
	path = src/dev_env/vim/.vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "src/dev_env/tmux/.tmux/plugins/tpm"]
	path = src/dev_env/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-continuum"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-resurrect"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-sensible"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
