[submodule "src/dev_env/vim/.vim/bundle/fzf.vim"]
	path = src/dev_env/vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "src/dev_env/vim/.vim/bundle/nerdtree"]
	path = src/dev_env/vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "src/dev_env/vim/.vim/bundle/vim-multiple-cursors"]
	path = src/dev_env/vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "src/dev_env/vim/.vim/bundle/vim-fugitive"]
	path = src/dev_env/vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "src/dev_env/vim/.vim/bundle/vim-airline"]
	path = src/dev_env/vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "src/dev_env/vim/.vim/bundle/vim-airline-themes"]
	path = src/dev_env/vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "src/dev_env/vim/.vim/bundle/dart-vim-plugin"]
	path = src/dev_env/vim/.vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "src/dev_env/vim/.vim/bundle/kotlin-vim"]
	path = src/dev_env/vim/.vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "src/dev_env/vim/.vim/bundle/vimwiki"]
	path = src/dev_env/vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "src/dev_env/tmux/.tmux/plugins/tpm"]
	path = src/dev_env/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-continuum"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-resurrect"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "src/dev_env/tmux/.tmux/plugins/tmux-sensible"]
	path = src/dev_env/tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "src/dev_env/vim/.vim/bundle/vim-gitgutter"]
	path = src/dev_env/vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "src/dev_env/vim/.vim/bundle/vim-endwise"]
	path = src/dev_env/vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "src/dev_env/vim/.vim/bundle/ctrlp.vim"]
	path = src/dev_env/vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "src/dev_env/vim/.vim/bundle/nerdtree-git-plugin"]
	path = src/dev_env/vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "src/dev_env/vim/.vim/bundle/rust.vim"]
	path = src/dev_env/vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "src/dev_env/vim/.vim/bundle/vim-jsx-pretty"]
	path = src/dev_env/vim/.vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "src/dev_env/vim/.vim/bundle/indentLine"]
	path = src/dev_env/vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "src/dev_env/vim/.vim/bundle/vim-colors-solarized"]
	path = src/dev_env/vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "src/dev_env/vim/.vim/bundle/vim-go"]
	path = src/dev_env/vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "src/dev_env/vim/.vim/bundle/vim-cfmt"]
	path = src/dev_env/vim/.vim/bundle/vim-cfmt
	url = https://github.com/crosbymichael/vim-cfmt.git
[submodule "src/dev_env/vim/.vim/bundle/vim-toml"]
	path = src/dev_env/vim/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "src/dev_env/vim/.vim/bundle/vim-better-whitespace"]
	path = src/dev_env/vim/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "src/dev_env/vim/.vim/bundle/vim-python-pep8-indent"]
	path = src/dev_env/vim/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "src/dev_env/vim/.vim/bundle/vim-linux-coding-style"]
	path = src/dev_env/vim/.vim/bundle/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style.git
[submodule "src/dev_env/vim/.vim/bundle/vim-systemd-syntax"]
	path = src/dev_env/vim/.vim/bundle/vim-systemd-syntax
	url = https://github.com/wgwoods/vim-systemd-syntax.git
[submodule "src/dev_env/vim/.vim/bundle/vim-terraform"]
	path = src/dev_env/vim/.vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "src/dev_env/vim/.vim/bundle/vim-git"]
	path = src/dev_env/vim/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "src/dev_env/vim/.vim/bundle/vim-markdown"]
	path = src/dev_env/vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "src/dev_env/vim/.vim/bundle/vim-protobuf"]
	path = src/dev_env/vim/.vim/bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "src/dev_env/vim/.vim/bundle/vim-surround"]
	path = src/dev_env/vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "src/dev_env/vim/.vim/bundle/goyo.vim"]
	path = src/dev_env/vim/.vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "src/dev_env/vim/.vim/bundle/markdown-preview.nvim"]
	path = src/dev_env/vim/.vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "src/dev_env/vim/.vim/bundle/vim-tmux-navigator"]
	path = src/dev_env/vim/.vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "src/dev_env/vim/.vim/bundle/vim-cpp-enhanced-highlight"]
	path = src/dev_env/vim/.vim/bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "src/dev_env/vim/.vim/bundle/vimspector"]
	path = src/dev_env/vim/.vim/bundle/vimspector
	url = git@github.com:puremourning/vimspector.git
[submodule "src/dev_env/vim/.vim/bundle/syntastic"]
	path = src/dev_env/vim/.vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "src/dev_env/vim/.vim/bundle/vim-ctrlspace"]
	path = src/dev_env/vim/.vim/bundle/vim-ctrlspace
	url = git@github.com:vim-ctrlspace/vim-ctrlspace.git
[submodule "src/dev_env/vim/.vim/bundle/vim-http"]
	path = src/dev_env/vim/.vim/bundle/vim-http
	url = git@github.com:nicwest/vim-http.git
[submodule "src/dev_env/vim/.vim/bundle/vim-commentary"]
	path = src/dev_env/vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "src/dev_env/vim/.vim/bundle/clang_complete"]
	path = src/dev_env/vim/.vim/bundle/clang_complete
	url = git@github.com:xavierd/clang_complete.git
[submodule "src/dev_env/vim/.vim/bundle/gruvbox"]
	path = src/dev_env/vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "src/dev_env/vim/.vim/bundle/zig.vim"]
	path = src/dev_env/vim/.vim/bundle/zig.vim
	url = git@github.com:ziglang/zig.vim.git
[submodule "src/dev_env/vim/.vim/bundle/julia-vim"]
	path = src/dev_env/vim/.vim/bundle/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
