#put system in a suspend state @lxqt
alias s='sudo lxqt-leave --suspend'

#emulator status
alias emu_stat='emulator -list-avds'

#run current emulator
alias emu_run='emulator -avd Pixel_3_XL_API_28'

#running process
alias pros='service --status-all'
